<?php session_start();?>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Blog Musique</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/Inscription';?>">Inscription </a></li>
					<li> <a href="<?php echo BASE_URL.'/Album';?>">Liste des albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/Artiste';?>">Liste des artistes</a></li>
					<?php
					 if(isset($_SESSION['pseudo'])){
					?>
					<li> <a href="<?php echo BASE_URL.'/Utilisateur';?>">Membres</a></li>
					<?php } ?>
					<li> <?php 
								if(isset($_SESSION['pseudo'])){
										echo "Bienvenue ".$_SESSION['pseudo']."(".$_SESSION['level'].")";?>
				<form method="post"  action="<?php echo BASE_URL.'/Deconnexion';?>">
   <input type='submit' class="btn btn-info" class="btn btn-info" value='Se déconnecter'/></form>
								<?php }
								else { ?>
											<li> <a href="<?php echo BASE_URL.'/Connexion';?>">Connexion</a></li> <?php
								}
								?>
				</ul>
				<h3 class="muted">Gestion des musiques
			</h3>
		</div>
		<p class="lead">Bienvenue sur votre application de gestion de vos musiques.
		</p>
			
								<?php if (isset($_SESSION['pseudo'])){ ?>
  
				<thead> <h2> Les meilleurs albums: </h2>
 
			
			<div class="podium">
		<div class="top1">
				<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[0]->titre;?>' 
								class="btn btn-info">1</a><br>
			<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[0]->pochette;?>">
			<?php echo $this->list[0]->titre;?>
				</div>
		
	<div class="top2">
				<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[1]->titre;?>' 
								class="btn btn-info">2</a><br>
			<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[1]->pochette;?>">
			<?php echo $this->list[1]->titre;?>
				</div>
				
	<div class="top3">
				<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[2]->titre;?>' 
								class="btn btn-info">3</a><br>
			<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[2]->pochette;?>">
			<?php echo $this->list[2]->titre;?>
				</div>
			</div>
			<?php } ?>
			
			<div class="text-center">
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
	</div>
</body>
</html>
