<?php session_start();?>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Blog Musique</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/Inscription';?>">Inscription </a></li>
					<li> <a href="<?php echo BASE_URL.'/Album';?>">Liste des albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/Artiste';?>">Liste des artistes</a></li>
					<?php
					 if(isset($_SESSION['pseudo'])){
					?>
					<li> <a href="<?php echo BASE_URL.'/Utilisateur';?>">Membres</a></li>
					<li> <a href="<?php echo BASE_URL.'/About';?>">A propos</a></li>
					<?php } ?>
					<li> <?php 
								if(isset($_SESSION['pseudo'])){
										echo "Bienvenue ".$_SESSION['pseudo']."(".$_SESSION['level'].")";?>
				<form method="post"  action="<?php echo BASE_URL.'/Deconnexion';?>">
  			 <input type='submit' class="btn btn-info" class="btn btn-info" value='Se déconnecter'/></form>
								<?php }
								else { ?>
											<li> <a href="<?php echo BASE_URL.'/Connexion';?>">Connexion</a></li> <?php
								}
								?>
				</ul>
				<h3 class="muted">Gestion des musiques
			</h3>
		</div>
		<p class="lead">Bienvenue sur votre application de gestion de vos musiques.
		</p>
			<h2> Actualité: </h2>
		<table class="table table-stripped">
		<?php if (isset($_SESSION['pseudo'])){ ?>
		<?php
    if(isset($_COOKIE["last_visit"]))
    {
				$lista=Commentaire::getListFromDate($_COOKIE['last_visit']);
				foreach(array_reverse($lista) as $commentaire) :
					$album=Album::getFromId( $commentaire->album); ?>
					<tr>
						<td><?php echo "<p class="."'commEcrit'".">".($commentaire->texte)."</p>"."<li id="."'commEcrit'".">Ecrit par ".($commentaire->pseudo)." 
					le ".($commentaire->dateCom)." sur l'album ".$album->titre."</li>";?></td>
						<?php if ($_SESSION['level']=='admin'){ ?>
						<td><a href='<?php echo BASE_URL."/Commentaire/supCom/".$commentaire->idCommentaire;?>' 
												class="btn"><i class="icon icon-remove"></i></a></td>
					<?php } ?>
					</tr>
		<?php endforeach;?>
		</table>
    <?php }
    $jour = date('d'); //le jour
    $mois = date('m'); //le mois
    $annee = date('Y'); //l'année
		$heure = date('H')+6; //heure
		if ($heure>24){
			$heure=$heure-24;
		}
		$minute = date('i'); //minute
		$seconde = date('s');
    $date = $annee .'-'. $mois .'-'. $jour .' '. $heure .':'. $minute .':' . $seconde; //la date formatée
    setcookie('last_visit', $date, time() + 31*24*3600, null, null, false, true);
		?>
			 <h2> Les meilleurs albums: </h2>
	<div class="podium">
		<div class="top1">
			<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[0]->titre;?>'>
			<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[0]->pochette;?>">
			<?php echo "1)".$this->list[0]->titre;?></a>
		</div>
		<div class="top2">							
						<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[1]->titre;?>'>	
						<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[1]->pochette;?>">
			<?php echo "2)".$this->list[1]->titre;?></a>
		</div>
				
		<div class="top3">	
			<a href='<?php echo BASE_URL."/Album/afficher/".$this->list[2]->titre;?>'>
			<img class="img-rounded" width="200" height="200" src="<?php echo $this->list[2]->pochette;?>">
			<?php echo "3)".$this->list[2]->titre;?></a>
		</div>
	</div>
			<?php } ?>
		<footer>
			<div class="text-center">
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
</body>
</html>
