# Mise en place de la ré-écriture
RewriteEngine On
# Adresse de base de réécriture
RewriteBase /public/
# Règles
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule (.*) index.php?query=$1 [QSA,L]
