<?php
session_start();
?>
<!DOCTYPE html>
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />

		<title>Artistes</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/Inscription';?>">Inscription </a></li>
					<li> <a href="<?php echo BASE_URL.'/Album';?>">Liste des albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/Artiste';?>">Liste des artistes</a></li>
					<?php
					 if(isset($_SESSION['pseudo'])){
					?>
					<li> <a href="<?php echo BASE_URL.'/Utilisateur';?>">Membres</a></li>
					<?php } ?>
					<li> <a href="<?php echo BASE_URL.'/About';?>">A propos</a></li>
					<li> <?php 
								if(isset($_SESSION['pseudo'])){
										echo "Bienvenue ".$_SESSION['pseudo']."(".$_SESSION['level'].")";?>
				<form method="post" action="<?php echo BASE_URL.'/Deconnexion';?>">
   <input type='submit' class="btn btn-info" value='Se déconnecter'/></form>
								<?php }
								else { ?>
											<li> <a href="<?php echo BASE_URL.'/Connexion';?>">Connexion</a></li> <?php
								}
								?>
						</li>
				</ul>
				<h1>Listes des artistes</h1>
			</div>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th></th><th>Pseudo</th><th>Description</th>
					</tr>
				</thead>
				<tbody>
				
					<?php  if (isset($_SESSION['pseudo'])){
						foreach($this->list as $artiste) : ?>
					<tr>
							<td>
								<?php if(($artiste->profil)!=null){?>
						<img class="img-rounded" width="60" height="60" src="<?php echo $artiste->profil;?>">
								<?php }; ?>
						</td>
						<td>
							<?php echo $artiste->pseudoArtiste;?>
						</td>
						<td><?php echo $artiste->description;?>
						</td>
						<td><a href='<?php echo BASE_URL."/Artiste/afficher/".$artiste->pseudoArtiste;?>' 
								class="btn btn-info"><i class="icon icon-search"><i></a></td>
							</tr>
							<!--a href="contact/afficher/<?php echo $contact->id;?>"></a></td><td><?php echo $contact->prenom." ".$contact->nom;?></td></tr-->
					<?php endforeach; }
					else {
								echo "<h4> Vous devez être connecté pour consuler les artistes (Redirection) </h4>";
									header('Refresh: 2;/public/Connexion');
						}?>
				</tbody>
			</table>
			<footer>
				<hr><?php if(isset($_SESSION['pseudo'])) {?>
				<div class="text-right">
				<form method="post" action="<?php echo BASE_URL.'/Artiste/ajouter';?>">
				<input type='submit' class="btn btn-info row-fluid" value='Ajouter un artiste'/>
					</div>
				</form> <?php } ?>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
		</div>
	</body>
</html>
