<?php
session_start();
?>
<!DOCTYPE html>
<html> <!-- J'ai modfier afficherListe pour tester aec album-->
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title><?php echo $this->artiste->pseudoArtiste;?></title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/Inscription';?>">Inscription </a></li>
					<li> <a href="<?php echo BASE_URL.'/Album';?>">Liste des albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/Artiste';?>">Liste des artistes</a></li>
					<?php
					 if(isset($_SESSION['pseudo'])){
					?>
					<li> <a href="<?php echo BASE_URL.'/Utilisateur';?>">Membres</a></li>
					<?php } ?>
					<li> <a href="<?php echo BASE_URL.'/About';?>">A propos</a></li>
					<li> <?php 
								if(isset($_SESSION['pseudo'])){
											echo "Bienvenue ".$_SESSION['pseudo']."(".$_SESSION['level'].")";?>
				<form method="post" action="<?php echo BASE_URL.'/Deconnexion';?>">
   <input type='submit' class="btn btn-info" value='Se déconnecter'/></form>
								<?php }
								else { ?>
											<li> <a href="<?php echo BASE_URL.'/Connexion';?>">Connexion</a></li> <?php
								}
								?>
						</li>
				</ul>
				<h1><?php if(($this->artiste->profil)!=null){?>
						<img class="img-rounded" width="60" height="60" src="<?php echo $this->artiste->profil;?>">
								<?php }; ?>
			<?php echo $this->artiste->pseudoArtiste;?> </h1>
			</div>
			<p class="lead">
		</p>
		<table class="table table-stripped">
			<tr><td>Pseudo:</td><td><?php echo $this->artiste->pseudoArtiste;?></td></tr>
			<tr><td>Description:</td><td><?php echo $this->artiste->description;?></td></tr>
  </table>
    <br>
    
    <table class="table table-stripped">
				<thead> <h2> Liste des albums de <?php echo $this->artiste->pseudoArtiste; ?></h2>
					<tr>
						<th></th><th>Pochette</th><th>Titre</th><th>Date</th><th>Note <!--<i class ="icon icon-star"></i>--></th>
					</tr>
				</thead>
				<tbody>
					<?php if (isset($_SESSION['pseudo'])){
   foreach($this->list as $album) :
    if($album->idArtiste==$this->artiste->idArtiste){?>
					<tr>
						<td>
						<i class ="icon icon-music"></i>
						</td>
						<td>
								<?php if(($album->pochette)!=null){?>
						<img class="img-rounded" width="60" height="60" src="<?php echo $album->pochette;?>">
								<?php }; ?>
						</td>
						<td>
							<?php echo $album->titre;?>
						</td>
						<td><?php echo $album->dateSortie;?>
						</td>
						<td><?php echo $album->noteGeneral;?></td>
						<td><a href='<?php echo BASE_URL."/Album/afficher/".$album->titre;?>' 
								class="btn btn-info"><i class="icon icon-search"><i></a></td>
							</tr>
							<!--a href="contact/afficher/<?php echo $contact->id;?>"></a></td><td><?php echo $contact->prenom." ".$contact->nom;?></td></tr-->
					<?php  } endforeach; }
					else {
echo "<h4> Vous devez être connecté pour consuler les albums (Redirection) </h4>";
	header('Refresh: 2;/public/Connexion');
							}?>
				</tbody>
			</table>
				</tbody>
			</table>
			<footer>
				<hr>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
		</div>
	</body>
</html>