<!DOCTYPE html>
 -<html>
 +<html> <!-- J'ai modfier afficherListe pour tester aec album-->'
  	<head>
  		<meta charset="utf-8"/>
  	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
  
 -		<title>Contacts</title>
 +		<title>Albums</title>
  	</head>
  	<body>
  		<div class="container">
  			<div class="page-header">
 -				<h1>Listes des contacts</h1>
 +				<h1>Listes des albums</h1>
  			</div>
  			<table class="table table-stripped">
  				<thead>
  					<tr>
 -						<th>Prénom</th><th>Nom</th><th>Email</th><th></th>
 +						<th>Titre</th><th>Date</th><th>Note</th><th>Artiste</th>
  					</tr>
  				</thead>
  				<tbody>
 -					<?php foreach($this->list as $contact) : ?>
 +					<?php foreach($this->list as $album) : ?>
  					<tr>
  						<td>
 -							<?php echo $contact->prenom;?>
 +							<?php echo $album->titre;?>
  						</td>
 -						<td><?php echo $contact->nom;?>
 +						<td><?php echo $album->dateSortie;?>
  						</td>
 -						<td><?php echo $contact->email;?></td>
 +						<td><?php echo $album->noteGeneral;?></td>
 +						<td><?php echo $album->artiste;?></td>
  						<td><a href='<?php echo BASE_URL."/contact/afficher/".$contact->id;?>' 
  								class="btn btn-info"><i class="icon icon-search"><i></a></td>
  							</tr>
