<?php
session_start();
extract($_POST);
?>
<!DOCTYPE html>
<html> <!-- J'ai modfier afficherListe pour tester aec album-->
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Albums</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/Inscription';?>">Inscription </a></li>
					<li> <a href="<?php echo BASE_URL.'/Album';?>">Liste des albums</a></li>
					<li> <a href="<?php echo BASE_URL.'/Artiste';?>">Liste des artistes</a></li>
					<?php
					 if(isset($_SESSION['pseudo'])){
					?>
					<li> <a href="<?php echo BASE_URL.'/Utilisateur';?>">Membres</a></li>
					<?php } ?>
					<li> <a href="<?php echo BASE_URL.'/About';?>">A propos</a></li>
					<li> <?php 
								if(isset($_SESSION['pseudo'])){
											echo "Bienvenue ".$_SESSION['pseudo']."(".$_SESSION['level'].")";?>
				<form method="post" action="<?php echo BASE_URL.'/Deconnexion';?>">
   <input type='submit'  class="btn btn-info" value='Se déconnecter'/></form>
								<?php }
								else { ?>
											<li> <a href="<?php echo BASE_URL.'/Connexion';?>">Connexion</a></li> <?php
								}
								?>
						</li>
				</ul>
				<h1>Listes des albums</h1>
			</div>
			<h2>Recherche</h2>
			<form action="<?php echo BASE_URL.'/Album';?>" method="post">
			<table class="table table-stripped">
				<tr>
					<td><label for="artiste"><strong>Artiste :</strong></label>
						<select name="artiste">
							<option selected="selected" disabled="disabled" >Tous</option>
							<?php foreach ($this->listArtiste as $art) : 
								echo "<option value=".$art->idArtiste.">".$art->pseudoArtiste."</option>";
							endforeach;	?>
						</select>
					</td>
					<td><label for="note"><strong>Note entre :</strong></label>
						<select name="note">
							<option selected="selected" disabled="disabled">Tous</option>
							<option value=1>0 et 1</option>
							<option value=2>1 et 2</option>
							<option value=3>2 et 3</option>
							<option value=4>3 et 4</option>
							<option value=5>4 et 5</option>
							<option value=6>5</option>
						</select>
					</td>
					<td><label for="genre"><strong>Genre :</strong></label>
						<select name="genre">
							<option  selected="selected" disabled="disabled">Tous</option>
						<?php foreach ($this->listGenre as $album) : 
								echo "<option value=".$album->genre.">".$album->genre."</option>";
							endforeach;	?>
						</select>
					</td>
					<td><label for="date"><strong>Sortie le :</strong></label>
					<input type="date" name="date" id="date"/></td>	
				</tr>
				<td><input type="submit" class="btn btn-info" name="recherche" value="Rechercher"/></td>
				
			</table>
			</form>
			<br><br>
			<table class="table table-stripped">
				<thead>
					<tr>
						<th></th><th>Pochette</th><th>Titre</th><th>Genre</th><th>Date</th><th>Note <!--<i class ="icon icon-star"></i>--></th><th>Artiste</th>
					</tr>
				</thead>
				<tbody>
					<?php if (isset($_SESSION['pseudo'])){
   foreach($this->list as $album) : 
    if ( ((isset ($artiste) && ($album->idArtiste)==$artiste) || (!isset($artiste)))  &&
         ((isset ($genre) && ($album->genre)==$genre) || (!isset($genre))) && 
         ((isset ($note) && (($album->noteGeneral)>=$note-1 && ($album->noteGeneral) <=$note ) || (!isset($note)))) &&
         ((!isset($date)) ||($date!="" && ($album->dateSortie)==$date) || $date==""))
    {
   ?>
					<tr>
						<td>
						<i class ="icon icon-music"></i>
						</td>
						<td>
								<?php if(($album->pochette)!=null){?>
						<img class="img-rounded" width="60" height="60" src="<?php echo $album->pochette;?>">
								<?php }; ?>
						</td>
						<td>
							<?php echo $album->titre;?>
						</td>
						<td><?php echo $album->genre;?>
						</td>
						<td><?php echo $album->dateSortie;?>
						</td>
						<td><?php echo $album->noteGeneral;?></td>
						<td><?php	echo Artiste::getFromId($album->idArtiste)->pseudoArtiste; ?></td>
						<td><a href='<?php echo BASE_URL."/Album/afficher/".$album->titre;?>' 
								class="btn btn-info"><i class="icon icon-search"><i></a></td>
							</tr>
							<!--a href="contact/afficher/<?php echo $contact->id;?>"></a></td><td><?php echo $contact->prenom." ".$contact->nom;?></td></tr-->
					<?php } endforeach; }
					else {
echo "<h4> Vous devez être connecté pour consuler les albums (Redirection) </h4>";
	header('Refresh: 2;/public/Connexion');
							}?>
				</tbody>
			</table>
			<footer>
				<hr><?php if(isset($_SESSION['pseudo'])) {?>
				<div class="text-right">
				<form method="post" action="<?php echo BASE_URL.'/Album/ajouter';?>">
				<input type='submit' class="btn btn-info row-fluid" value='Ajouter un album'/>
					</div>
					</form>
					<?php } ?>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			
			</footer>
		</div>
	</body>
</html>
